{% extends "recipes/base.html" %}

{% block content %}
    <script>
        function evaluateRecipe(voteOrLike){
            $.ajax({
                url: window.location.pathname + 'evaluate/',
                data: {
                'vote_or_like': voteOrLike,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                method: 'POST',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    console.log(data.updated_like_count)
                    if(voteOrLike == "like"){
                        $("#like-count").html(data["updated_like_count"]);
                    }
                    else{
                        $("#vote-count").html('(' + data["updated_vote_count"] + ')');
                        $("#vote-ratio").html(data["updated_vote_ratio"] + '/5');
                    }
                },
                error: function(request, status, error){
                    window.location.href = '/login';
                }
            });
        }
    </script>
    <div class="card">
        <img class="card-img-top" src="{{ recipe.image.url }}">
        <div class="card-body">
            <h5 class="card-title text-danger">{{ object.title }}</h5>
            <p class="card-text">
                <small class="text-muted">
                    By
                    <img src="{{ recipe.author.profile.image.url }}" class="rounded-circle thumbnail mb-1"
                        style="height: 20px; width: 20px;">
                    {{ object.author }} on {{ object.date_posted|date:"F d, Y" }}
                </small>
                | <strong class="d-inline" style="font-size: 20px;">Difficulty: </strong>
                {% if object.difficulty == "1" %}
                <span class="text-success d-inline" style="font-size: 20px;">{{ object.get_difficulty_display }} &#x1f602;</span>
                {% elif object.difficulty == "2" %}
                <span class="text-primary d-inline" style="font-size: 20px;">{{ object.get_difficulty_display }} &#x1f642;</span>
                {% elif object.difficulty == "3" %}
                <span class="text-warning d-inline" style="font-size: 20px;">{{ object.get_difficulty_display }} &#x1f623;</span>
                {% elif object.difficulty == "4" %}
                <span class="text-danger d-inline" style="font-size: 20px;">{{ object.get_difficulty_display }} &#x1f92c;</span>
                {% endif %}
                <br>
                <ul class="list-group w-50 my-2" style="align-self: center;">
                    {% for ingredient in object.ingredients.all %}
                    <li class="list-group-item list-group-item-primary">{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
                {{ object.content }}
            </p>
            <p class="card-text">
                <form method="POST">
                    {% csrf_token %}
                    <div href="{% url 'recipe-update' object.id %}"
                    class="btn btn-info btn-sm my-1 ml-2" onclick="evaluateRecipe('like');"
                    style="cursor: pointer;">
                        Like <div class="bg-light text-dark" id="like-count">{{ object.like_count }}</div>
                    </div>
                    <div style="cursor: pointer;" class="btn btn-info btn-sm"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Vote <div class="d-inline" id="vote-count">({{ object.vote_count }})</div><div class="bg-light text-dark" id="vote-ratio">{% widthratio object.vote_points object.vote_count 1 %}/5</div>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="evaluateRecipe('vote_1');">1</a>
                            <a class="dropdown-item" onclick="evaluateRecipe('vote_2');">2</a>
                            <a class="dropdown-item" onclick="evaluateRecipe('vote_3');">3</a>
                            <a class="dropdown-item" onclick="evaluateRecipe('vote_4');">4</a>
                            <a class="dropdown-item" onclick="evaluateRecipe('vote_5');">5</a>
                        </div>
                    </div>
                </form>

                {% if object.author == user %}
                    <a href="{% url 'recipe-delete' object.id %}"
                    class="btn btn-danger btn-sm my-1 ml-2 float-right">
                    Delete
                    </a>
                    <a href="{% url 'recipe-update' object.id %}"
                    class="btn btn-warning btn-sm my-1 float-right ml-2">
                    Update
                    </a>
                {% endif%}
            </p>
        </div>
    </div>
{% endblock content %}
