<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
        <title>Hipo-Meal | {{ title }}</title>
    {% else %}
        <title>Hipo-Meal</title>
    {% endif %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand ml-4" href="{% url 'recipes-home' %}">
           <i class="fas fa-hippo ml-4" style="color:lightgrey;transform:scale(2);z-index:1;"></i>
           <i class="fas fa-drumstick-bite ml-2" style="color:lightsalmon;transform:scale(1.2);"></i></br>
           HipoMeal
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'recipes-home' %}">Home</a>
                </li>
                {% if not user.is_authenticated %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
                {% else %}
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'recipe-create' %}">Create Recipe</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'recipes-home' %}">My Recipes</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% endif %}
            </ul>
            <form class="form-inline my-2 my-lg-0 w-50 justify-content-end">
                <input class="form-control mr-sm-2 w-50" type="search" placeholder="Dishes, Ingredients or Keywords" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container mt-2">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col">
                {% block content %}
                {% endblock content%}
            </div>
            <div class="col">
                top ingredients
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>