{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <script>
        function addIngredient() {
            var ingredientName = $("#ingredient-name").val();
            $.ajax({
                url: '/add_ingredient/?ingredient_name=' + ingredientName,
                method: 'GET',
                success: function (data) {
                    if (data.ingredient_added) {
                        $("#id_ingredients").append(
                            $('<option />')
                                .text(ingredientName)
                                .val(data.ingredient_id)
                        );
                        $("#ingredient-name").val("");
                    }
                    else {
                        $("#info-modal-message").html(data.error_message);
                        $("#info-modal-label").html("Oops!");
                        $("#info-modal").modal();
                    }
                }
            });
        }
        
        $(document).ready(function () {
            $("#ingredient-name").on('keypress', function (event) {
                if (event.which == 13) {
                    event.preventDefault();
                    addIngredient();
                }
            });
        });
    </script>
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Update your recipe</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="input-group flex-nowrap mb-4">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">
                        <i class="fas fa-pepper-hot" style="color:firebrick;"></i>
                    </span>
                </div>
                <input type="text" class="form-control" placeholder="Ingredient Name" aria-label="Ingredient"
                    aria-describedby="addon-wrapping" id="ingredient-name">
                <button type="button" class="btn btn-secondary ml-2" onclick="addIngredient();">
                    Add Ingredient
                </button>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info", type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
